In [1]:
import pandas as pd
import numpy as np

In [3]:
s = pd.Series([1.0, -1, 1, 1, -1, 1, -1, -1])
s

0    1.0
1   -1.0
2    1.0
3    1.0
4   -1.0
5    1.0
6   -1.0
7   -1.0
dtype: float64

In [4]:
s.cumsum()

0    1.0
1    0.0
2    1.0
3    2.0
4    1.0
5    2.0
6    1.0
7    0.0
dtype: float64

In [17]:
df = pd.DataFrame([
    ('a', 1.0),
    ('b', 1.0),
    ('a', 1.0),
    ('a', -1.0),
    ('a', 1.0),
    ('a', -2.0),
    ('b', -1.0),
    ('b', -1.0),
], columns=['group', 'val'])
df

  group  val
0     a  1.0
1     b  1.0
2     a  1.0
3     a -1.0
4     a  1.0
5     a -2.0
6     b -1.0
7     b -1.0

In [18]:
df2 = df
df2['csgby'] = df.groupby('group')['val'].cumsum()
df2

  group  val  csgby
0     a  1.0    1.0
1     b  1.0    1.0
2     a  1.0    2.0
3     a -1.0    1.0
4     a  1.0    2.0
5     a -2.0    0.0
6     b -1.0    0.0
7     b -1.0   -1.0